section.gallery

  //- Loop through the gallery items
  each galleryItem in slice.value.toArray()

    .gallery-item
      img(src=galleryItem.getImage("image").url)
      span
        != galleryItem.getText("caption")
