header.site-header
  a(href='./').logo Mandarin

  if menu != null
    nav
      ul
        each link in menu.getGroup('menu.items').toArray()
          li
            a(href=link.getLink('link').url(ctx.linkResolver))
              != link.getText('label')
