extends ./layout.pug

include ./mixins/bodytext.pug

block prepend body
  body

    include ./partials/header.pug

    -// Homepage Banner Section
    section.frontpage-banner(style='background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(' + doc.getImage("frontpage.hero-image").url + ')')
      .container
        h2 !{doc.getText("frontpage.heading")}
        p !{doc.getText("frontpage.tagline")}

    -// Content Section
    div.container

      -// About
      != doc.getStructuredText("frontpage.about-heading").asHtml(ctx.linkResolver)
      +bodyTextH2(doc.getStructuredText('frontpage.about-body'))

      -// Projects
      != doc.getStructuredText("frontpage.projects-heading").asHtml(ctx.linkResolver)
      ul
      each project in doc.getGroup("frontpage.projects").toArray()
        a(href=project.getLink('project-link').url(ctx.linkResolver))
          li.project-bg(style='background-image: url('+project.getImage("project-image").url+')')
            h3
              != project.getStructuredText("project-title").asHtml(ctx.linkResolver)
            p
              != project.getStructuredText("project-description").asHtml(ctx.linkResolver)

      -// Testimonies
      != doc.getStructuredText("frontpage.testimonies-heading").asHtml(ctx.linkResolver)
      each testimony in doc.getGroup('frontpage.testimonies-group').toArray()
        li
          div
            != testimony.getStructuredText("testimony-body").asHtml(ctx.linkResolver)
            != testimony.getStructuredText("testimony-name").asHtml(ctx.linkResolver)

      -// Contact
      != doc.getStructuredText("frontpage.contact-heading").asHtml(ctx.linkResolver)
      != doc.getStructuredText("frontpage.contact-body").asHtml(ctx.linkResolver)
